<div class="ps-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang chủ</a></li>
            <li>Giới thiệu</li>
        </ul>
    </div>
</div>
<div class="ps-page--single" id="about-us"><img src="img/bg/about-us.jpg" alt="">
    <div class="ps-about-intro">
        <div class="container">
            <div class="ps-section__header">
                <h4>Du lịch theo cách của bạn</h4>
                <h3>Chúng tôi giúp bạn tìm thấy những chuyến đi hoàn hảo, phù hợp với sở thích và ngân sách của mình.</h3>
                <p>Với hệ thống tìm kiếm thông minh và các gợi ý cá nhân hóa, chúng tôi giúp bạn dễ dàng tìm kiếm và đặt phòng các dịch vụ du lịch phù hợp với nhu cầu của mình. Từ những chuyến đi nghỉ dưỡng sang trọng đến những chuyến phiêu lưu khám phá, chúng tôi đều có thể đáp ứng. Chúng tôi cũng cung cấp một cộng đồng du lịch sôi động, nơi bạn có thể chia sẻ kinh nghiệm và tìm kiếm những gợi ý từ những người đi trước.</p>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                    <div class="ps-block--icon-box"><i class="icon-map-marker"></i>
                        <h4>1.000+</h4>
                        <p>Điểm đến hấp dẫn</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-user"></i>
                            <h4>5.000+</h4>
                            <p>Người dùng hoạt động</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-plane"></i>
                            <h4>2.000+</h4>
                            <p>Vé máy bay được đặt</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-home"></i>
                            <h4>10.000+</h4>
                            <p>Đêm phòng được đặt</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về các tour du lịch và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
